.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
}
div{
    border: 1px solid;
    

}
.one img{
    object-fit: cover;
    max-width: 400px;
}
.container{
    max-width: 1366px;
    background-color: orange;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto 0 auto;
}
@media (max-width:824px) {
    .wrapper{
        grid-template-columns: auto auto;
        grid-template-rows: 100px 100px 300px;
    }
}
@media (max-width:624px) {
    .wrapper{
        grid-template-columns: auto;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
    }
}